<a href="https://colab.research.google.com/github/ALEXSILVA794/T-cnicas-de-Desenvolvimento-de-Algoritmos/blob/main/Exercicio_Listas_POO_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Nome: ALEX PAULO DA SILVA

#Curso: SISTEMAS DE INFORMAÇÃO

#Disciplina: Técnicas de Desenvolvimento de Algoritimos

![images.jpg]()

In [ ]:
'''
Estrutura de dados com Python (POO)
❑ Introdução
❑ Listas
❑ Exemplos e Exercı́cios
'''
print()

In [ ]:
lista1=[10, 20, 30, 40]
lista2=["programação", "UDF", "python"]
lista3=["oi", 2.0, 5, [10, 20]]
print(lista1)
print(lista2)
print(lista3)

[10, 20, 30, 40]
['programação', 'UDF', 'python']
['oi', 2.0, 5, [10, 20]]

In [ ]:
#Como usar listas
notas = [8.0, 5.5, 9.3, 7.6, 3.1]
print(notas[0])
print(notas[1])
print(notas[2])
print(notas[3])
print(notas[4])

8.0
5.5
9.3
7.6
3.1

In [ ]:
print(notas[0] + 2)
notas[3] = 0.5
print(notas)
len(notas)

10.0
[8.0, 5.5, 9.3, 0.5, 3.1]

5

In [ ]:
print(notas)

[8.0, 5.5, 9.3, 0.5, 3.1]

In [ ]:
for alex in range(5):
  print(notas[alex])

8.0
5.5
9.3
0.5
3.1

In [ ]:
#Quais valores serão armazenados em cada posição após a
#execução desse código
lista = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,]
for i in range(10):
  lista[i] = 5*i
print(lista)
len(lista)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0]

11

In [ ]:
#Índices negativos se referem à lista da direita para a esquerde;
#Ocorre um erro se tentarmos acessar uma posição da lista que
#não existe.
notas = [8.0, 5.5, 9.3, 0.5, 3.1]
print(notas[-1])
print(notas[-2])
print(notas[-3])
print(notas[-4])
print(notas[-5])

3.1
0.5
9.3
5.5
8.0

In [ ]:
#Slicing
print(notas[2:3])
print(notas)
nome=["a", "l", "e", "x"]
print(nome[0])

[9.3]
[8.0, 5.5, 9.3, 0.5, 3.1]
a

In [ ]:
#tamanho da lista (len)
len(notas)

5

In [ ]:
'''
Listas: for
• Lembre-se que o for na verdade faz variável de controle assumir todos os valores de uma lista.
'''
for i in range(len(notas)):
    print(notas[i])

8.0
5.5
9.3
0.5
3.1

In [ ]:
#E também pode ser implementado como:
for i in notas:
  print(i)

8.0
5.5
9.3
0.5
3.1

In [ ]:
'''
Listas: método append
• Uma operação importante é acrescentar um item no final de uma lista.
Isto é feito pela função append.
'''
#lista.append(item) #método para inserir um item no final da lista, como a lista é notas, o exemplo segue abaixo:
notas.append(10.0)
notas.append(12.0)
print(notas)
len(notas)

[10.0, 12.0]

2

In [ ]:
'''
Listas: método append
notas = []
n = int(input("Entre com o número da nota: "))
for i in range(n):
  dado = float(input("Entre com a nota " + str(i) + ": "))
notas.append(dado)
print(notas) combinação de uma lista vazia que vai sofrendo "appends" permite ler dados e preencher uma lista com dados:
'''
notas=[]
for i in range(5):
  dado = float(input("Entre com a nota " + str(i+1) + ": "))
  notas.append(dado)
print(notas)

Entre com a nota 1: 2
Entre com a nota 2: 3
Entre com a nota 3: 4
Entre com a nota 4: 1
Entre com a nota 5: 5
[2.0, 3.0, 4.0, 1.0, 5.0]

In [ ]:
'''
Listas: operador +
A operação de soma em listas gera uma nova lista que é o resultado
de "grudar" lista2 ao final da lista1. isto é conhecido como
concatenação de listas.
'''
lista1 + lista2

[10, 20, 30, 40, 'programação', 'UDF', 'python']

In [ ]:
'''
Lista: operador *
O operador "*" faz repetição de concatenação:
O resultado da operação do exemplo é o mesmo que somar
(concatenar) 4 vezes a d lista x.
x = [1, 2, 3]
y =  4*x
print(y)
'''
x=[1,2,3]
y=4*x
print(y)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
'''
outros Métodos em listas
 Lista.insert(indice,dado) insere na lista o dado antes da posicão indice.
 x = [40, 30, 10, 20]
x.insert(0, 99)
print(x)
'''
x=[40, 30, 10 ,20]
x.insert(0,99)

print(x)

[99, 40, 30, 10, 20]

In [ ]:
'''
outros Métodos em listas
 Lista.insert(indice,dado) insere na lista o dado antes da posicão indice.
 x = [40, 30, 10, 20]
x.insert(0, 99)
print(x)
'''
x = [40, 30, 10 ,20]
x.insert(10,99)

print(x)

[40, 30, 10, 20, 99]

In [ ]:
'''
del lista(posição) remove da lista o item da posição especificada.
x = [40, 99, 30, 10, 20]
del x[4]
print (x)
'''
del x[2]
print (x)

[40, 30, 20, 99]

In [ ]:
'''
Também podemos remover um item da lista pelo valor utilizando o método remove.
x = [40, 99, 10, 20]
x.remove[10]
print(x)
'''
x=[40, 99, 10, 20]
x.remove (10)
print (x)

[40, 99, 20]

In [ ]:
'''Podemos contar o número de elementos na lista com um certo valor usando o método count.
x = [40, 99, 10, 20, 13, 20, 14]
N = x.count(20)
print(N)
'''
x = [40, 99, 10, 20, 13, 20, 14]
N = x.count(20)
print(N)

2

In [ ]:
'''
Informações extras: Inicialização de uma lista
Em algumas situações é necessário declarar e já atribuir um conjunto de valores constantes para uma lista.
Dentro da lista incluímos uma constrção  com uma laço que gerará valores iniciais para a lista.
'''
x = [ 0 for i in range(5)]
print(x)
x = [2*i for i in range(5)]
print(x)

[0, 0, 0, 0, 0]
[0, 2, 4, 6, 8]

Exercicio apresentação do dia 21/10 POO Python

In [ ]:
'''
Exercicios
Faça um programa que leia um número n e e imprima linha na tela com o seguinte formato(exemplo se n 5):
Exemplo de Solução (com Laços Encaixados)
'''
n=int(input())
for i in range (1,n+1):
  for j in range(1,1+1):
   print (j, end=" ")
  print(" ")

5
1
1
1
1
1

In [ ]:
'''
Exemplo de Solução
Faça um programa que leia um número n e e imprima linha na tela com o seguinte formato(exemplo se n 5):
'''
n=int(input("Digite um número: "))
lista=[]
for i in range (1,n+1):
  lista.append(1)
  for j in lista:
    print(j,end=" ")
  print(" ")

Digite um número: 6
1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1 1 1

In [ ]:
'''
Exemplo de Solução
Faça um programa que leia um número n e e imprima linha na tela com o seguinte formato(exemplo se n 5):
'''
n=int(input("Digite um número: "))
l=[]
for i in range (1,n+1):
 l.append(i)
print(l)

Digite um número: 3
[1, 2, 3]

In [ ]:
'''
exercicio
Faça um programa que leia n notas, mostre as notas e a média.
entrada  saída
5        [8.0, 5.5, 9.3, 0.5, 3.1]
8.0             5.3
5.5
9.3
0.5
3.1
'''
#Mostra as n notas
#Essa parte lê as n notas e mostra na tela.
notas = []
n=int(input("Digite a quantidade de notas: "))
for i in range(n):
  dado=float (input ())
  notas.append(dado)
print(notas)

#Calcula a média
#Essa parte calcula a média e mostra na tela.
soma = 0
for i in range(len(notas)):
  soma=soma+notas[i]
media = soma/N
print (format(media,".1f"))

Digite a quantidade de notas: 5
5
6
8
9
8
[5.0, 6.0, 8.0, 9.0, 8.0]
18.0

In [ ]:
'''
Faça um programa que leia n notas, mostre as notas e a média.
#Mostra as n notas e Calcula a média
'''
notas=[]
soma=0
n=int(input("Entre com o número de notas: "))
for i in range(n):
  dado=float(input("Entre com a nota " + str (i+1) +": " ))
  soma = soma + dado # <=
  print(notas)
#Calcular a média
media = soma/n
print(format(media,".1f"))

Entre com o número de notas: 2
Entre com a nota 1: 50
[]
Entre com a nota 2: 45
[]
47.5

In [ ]:
'''
Faça um programa que leia duas listas com 5 inteiros cada e que verifique quais elementos da segunda lista sao iguais a algum elemento da primeira lista
'''
x = []
y = []

print("Digite 5 números para a primeira lista:")
for i in range(5):
    x.append(int(input()))

print("\nDigite 5 números para a segunda lista:")
for i in range(5):
    y.append(int(input()))

um_elemento_comum = False  # Supomos que não há elementos comuns

print("\nElementos em comum:")
for i in range(len(x)):
    for j in range(len(y)):
        if x[i] == y[j]:
            print(x[i])
            um_elemento_comum = True

if not um_elemento_comum:
    print("Não tem elemento comum.")

Digite 5 números para a primeira lista:
2
5
6
9
8

Digite 5 números para a segunda lista:
1
2
6
8
9

Elementos em comum:
2
6
9
8